<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- ... -->
		<add key="ProcessesToStop" value="age2_x1, dmcr, chrome"/>
		<add key="QuotaPerDay" value="2.5h"/>
		<add key="ForbidTime" value="22:00-23:59, 09:00-15:00"/>
		<add key="StopImmediately" value="false"/>
		<!-- ... -->
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>